body {
    font-family: 'Rubik', sans-serif;
    color:white;
}

.app {
    display:flex;
    height:100vh;
    width:100vw;

}



.left {
    
    max-width: 40vw;
    flex:auto;
    position:relative;
    overflow: hidden;
    background:linear-gradient(45deg, rgb(255, 57, 156) , rgb(255, 127, 197));


    

}
img {
    position:absolute; 
    z-index: -1;
    width:100%;
    height: 100%;

}

.right {
    
    width: 100%;
    height:100%;        
    background-color: black;
    flex:1.7;
}

.logo-container {
    width:100%;
    height:20vh;
    display:flex;
    background-color: rgba(255, 0, 0, 0);
    color:white;
    justify-content: center;
    margin-top: 20%;
    font-size: 4rem;
    align-items: center;
    flex-wrap: wrap;
    padding:22px;
}


.input-container{
    padding-left:80px;
    display:flex;
    gap:128px;
    padding-bottom: 32px;
    padding-top: 32px;;
}

button {
    margin-left: 80px;
}

form input {
    background: transparent;
    border:none;
    padding:8px 8px;
    border-radius: 15px;
    transition: all 0.25s;
}
input:focus {
    border:1px solid rgb(255, 127, 197);
}
.txt {
    width:70%;
    padding-left:80px;
    margin-top: 70px;
    font-size: 18px;
    margin-bottom: 80px;

}

form .input-container label[for] {
    color:rgb(255, 127, 197);
    margin-bottom: 8px;
}

form .inputs {
    margin-top: 16px;
    padding-top: 16px;
    
}

