body {
    font-family: 'Rubik', sans-serif;
    color:white;
}

.app {
    display:flex;
    height:100%;
    width:100%;

}



.left {
    
    max-width: 40vw;
    flex:auto;
    position:relative;
    overflow: hidden;
    background:linear-gradient(45deg, rgb(254, 20, 137) ,rgb(255, 73, 173));


    

}
img {
    position:absolute; 
    z-index: -1;
    width:100%;
    height: 100%;

}

.right {
    
    width: 100%;
    height:100%;        
    background-color: black;
    flex:1.7;
}

.logo-container {
    width:100%;
    height:20vh;
    display:flex;
    background-color: rgba(255, 0, 0, 0);
    color:white;
    justify-content: center;
    margin-top: 20%;
    font-size: 4rem;
    align-items: center;
    flex-wrap: wrap;
    padding:22px;
}


.input-container{
    padding-left:80px;
    display:flex;
    gap:128px;
    padding-bottom: 32px;
    padding-top: 32px;;
}

button {
    margin-left: 88px;
    margin-top: 32px;
    padding:16px;
    min-width: 15vw;
    border-radius: 10px;
    background-color: transparent;
    color:rgb(255, 73, 173);
    transition: all 0.25s;
    border:1px solid rgb(255, 73, 173);


}

button:hover {
    background-color: white;
    font-weight: bold;
    cursor:pointer;
}

form input {
    background: transparent;
    border: none;
    padding:16px 16px;
    border-radius: 15px;
    transition: all 0.25s;
    width:18vw;
    color:white;
    margin-top: 16px;
}


form input:focus::placeholder {
    color:transparent;
    
}

.txt {
    width:70%;
    padding-left:88px;
    margin-top: 70px;
    font-size: 18px;
    margin-bottom: 80px;

}

form .input-container{

    margin-bottom: 8px;
}

input::placeholder {
    color:rgb(255, 127, 197 , 0.6);
}

form .inputs {
    margin-top: 16px;
    padding-top: 16px;
    
}
 
p a {
    text-decoration: none;
    color:rgb(255, 127, 197);
    transition: all 0.25s;
}

p a:hover {
    cursor:pointer;
    color:rgb(255, 42, 187);

}

p a:visited {
    color:rgb(255, 0, 140);
}

input:invalid:focus {
    border:2px solid rgb(255, 127, 197);
}

input:valid {
    outline:none;
    border:2px solid white;
    background-color: rgb(255, 127, 197);
    font-weight: bold;
}

